.about__list {
  margin: 0;
  margin-bottom: 60px;
  @include no-list();
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.about__item {
  margin-bottom: 30px;
  padding-top: 57px;
  line-height: 20px;
  display: block;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__icon {
  position: absolute;
  top:0;

  path {
    fill: $icon-style;
  }
}
