.button {
  padding: 15px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-size: $font_size_main;
  line-height: 17px;
  font-weight: $font_weight_bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $text_color_sub;
  border: $border_input;

  &:hover {
    color: $color_white;
    background-color: $color_greyish_brown;
  }

  &:active,
  &:focus {
    color: rgba($color: $color_white, $alpha: 0.3);
    background-color: $color_greyish_brown;
  }
}

.button--modal-size {
  padding-top: 19px;
  background-color: $color_seafoam_blue;
  color: #ffffff;
  border: none;
}
