.catalog-list {
  @include no-list();
}

.catalog-list__item {
  margin-bottom: 30px;
  border: $main-style-line;
}

.catalog-list__link {
  display: block;
  text-decoration: none;
}

.catalog-list__img {
  display: block;
  padding: 0;
}

.catalog-list__annotation {
  padding: 32px 28px 0;
}

.catalog-list__title {
  margin: 0;
  padding: 0;
  color: $page-text-color;
  font-size: 17px;
}

.catalog-list__text {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: $sub-text-color;
  font-weight: $alt-font-weight;
}

.catalog-list__wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: $main-style-line;
}

.catalog-list__price {
  font-size: 15px;
}
