.contacts {
  padding: 36px 0 40px;
}

.contacts__wrapper {
  @include inner;
  margin-bottom: 37px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  @include list-reset();
  font-size: 15px;
  line-height: 30px;
  font-weight: $font_weight_alt;
  color: $text_color_sub;
}

.contacts__list-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__legend {
  margin: 0;
  margin-right: 30px;
}

.contacts__address {
  font-style: normal;
}

.contacts__link {
  color: $text_color_sub;
  text-decoration: none;
  border-bottom: $border_legend;

  &:hover {
    color: $color_greeny_blue;
  }

  &:active,
  &:focus {
    color: $color_greeny_blue;
    opacity: 0.3;
  }
}

.contacts__map {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 322px;
  height: 457px;
  display: block;
  background-color: #f4e9d7;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: cover;
  }
}

.contacts__write {
  display: block;
  margin: 0 auto;
  width: 260px;
}

@media (min-width: $width_tablet) {
  .contacts {
    padding: 50px 0 60px;
  }

  .contacts__wrapper {
    margin-bottom: 55px;
  }

  .contacts__title {
    margin-bottom: 32px;
    font-size: 43px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &::after {
      display: block;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__legend {
    margin: 0;
    margin-right: 25px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    font-size: $font_size_main;
    align-items: flex-start;
  }

  .contacts__list-item {
    margin: 0;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  .contacts__map {
    margin-bottom: 55px;
    width: 768px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__write {
    width: 230px;
  }
}

@media (min-width: $width_desctop) {
  .contacts {
    padding: 72px 0 105px 175px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .contacts__wrapper {
    padding: 0;
    width: 40%;
    box-sizing: border-box;
  }

  .contacts__title {
    margin-top: 70px;
    margin-bottom: 48px;
    position: relative;
    font-size: 53px;
    line-height: 57px;

    &::after {
      position: absolute;
      top: -8px;
      left: -112px;
    }
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__list-item {
    margin: 0;
    margin-bottom: 30px;
  }

  .contacts__map {
    margin: 0;
    margin-left: auto;
    margin-bottom: -50px;
    width: 525px;
    align-self: flex-start;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__write {
    margin: 0;
  }
}
