.featured {
  padding-top: 27px;
  padding-bottom: 40px;
  position: relative;
}

.featured__list {
  @include list-reset();
}

.featured__title-wrapper {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.featured__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
}

.featured__legend {
  display: block;
  line-height: 20px;
  color: $text_color_legend;
  text-transform: uppercase;
}

.featured__wrapper {
  margin-bottom: 30px;
}

.featured__text {
  margin: 0;
  margin-bottom: 15px;
  font-size: 15px;
  color: $text_color_sub;
  font-weight: $font_weight_alt;
}

.featured__img-wrapper {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.featured__img {
  display: block;
  padding: 0;
  width: 260px;
  height: 315px;
}

.featured__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  color: $text_color_sub;
  text-align: center;
}

@media (min-width: $width_tablet) {
  .featured {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .featured__item {
    display: flex;
    flex-wrap: wrap;
  }

  .featured__title-wrapper {
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .featured__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    flex-grow: 1;
  }

  .featured__legend {
    line-height: 17px;
    margin-right: 30px;
    width: 70px;
    text-align: center;
    align-self: center;
  }

  .featured__wrapper {
    display: flex;
    flex-direction: column;
    width: 43%;
  }

  .featured__text {
    font-size: $font_size_main;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .featured__table {
    margin-bottom: 25px;
  }

  .featured__img-wrapper {
    margin-left: auto;
    margin-bottom: -140px;
  }

  .featured__img {
    width: 333px;
    height: 404px;
  }

  .featured__price {
    margin-bottom: 35px;
    padding-right: 57%;
    width: 100%;
    font-size: 20px;
  }

  .featured__button {
    width: 292px;
  }
}

@media (min-width: $width_desctop) {
  .featured {
    padding-right: 0;
    padding-top: 70px;
    padding-bottom: 95px;
    padding-left: 175px;
  }

  .featured__title-wrapper {
    position: relative;
    margin-top: 52px;
  }

  .featured__title {
    font-size: 53px;
    line-height: 57px;
  }

  .featured__legend {
    margin-right: 50px;
    order: -1;
    position: absolute;
    left: -130px;
    top: 15px;
  }

  .featured__wrapper {
    width: 33%;
  }

  .featured__text {
    margin-bottom: 45px;
  }

  .featured__img-wrapper {
    margin-top: -160px;
    margin-bottom: -145px;
  }

  .featured__img {
    width: 525px;
    height: 636px;
  }

  .featured__price {
    padding-top: 35px;
    padding-right: 67%;
  }
}
