.label {
  line-height: 18px;
}

.label--radio {
  padding: 12px 0 12px 62px;
}

.label--checkbox {
  padding: 12px 0 12px 62px;
}

.label--radio::before {
  @include input-content(40px, 40px);
  border-radius: 100%;
  background-color: $fourth-color;
  box-shadow: inset 0 0 0 10px #ffffff;
}

.label--checkbox::before {
  @include input-content(40px, 39px);
}
