.main-navigation {
  position: relative;
}

.main-navigation__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  z-index: 2;
}

.main-navigation__item {
  margin: 0;
  border-bottom: $main-style-line;
}
