.menu-header {
  @include list-reset();
}

.menu-header__link {
  display: block;
  padding: 25px 50px 30px 76px;

  color: $text_color_default;
  text-decoration: none;

  border-bottom: $border_default;
}

.menu-header__link[href] {
  @include hover-active-link;
}

.menu-header__link--add {
  display: none;
}

@media (min-width: $width_tablet) {
  .menu-header {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    border: none;
  }

  .menu-header__item {
    margin-right: 37px;
  }

  .menu-header__link {
    padding: 18px 0;
    border: none;
  }
}

@media (min-width: $width_desctop) {
  .menu-header__item:first-child .menu-header__link {
    border-right: $border_default;
  }

  .menu-header__link {
    padding: 32px 0;
    font-size: $font_size_main;
    width: 182px;
  }

  .menu-header__link--add {
    padding: 20px 0;
    font-size: 15px;
    display: block;
  }
}
