.menu-toggle {
  width: 21px;
  height: 20px;
  font-size: 0;
  border: none;
  background-image: url(../../img/icon-menu-close.svg);
  background-repeat: no-repeat;
  background-color: inherit;
  cursor: pointer;
}
