.page-footer {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: $background_color_content;
  box-sizing: border-box;
}

.page-footer__container {
  margin: 0 auto;

  @include inner();
  width: 320px;
  box-sizing: border-box;
}

.page-footer__logo {
  display: none;
}

.page-footer__list {
  margin: 0;
}

@media (min-width: $width_tablet) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  .page-footer__logo {
    display: block;
    margin-right: 75px;
  }
}

@media (min-width: $width_desctop) {
  .page-footer__container {
    width: 1150px;
    margin: 0 auto;
  }
}
