.page-main {
  margin: 0 auto;
  width: 320px;
  position: relative;
}

.page-main__head {
  position: relative;
  margin-bottom: 30px;
}

.page-main__head--form {
  margin-bottom: 23px;
}

.page-main__section {
  @include inner();
}

.page-main__section:nth-child(odd) {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.page-main__subtitle {
  margin: 0;

  @include inner();
  padding-top: 70px;
  padding-bottom: 122px;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}

.page-main__title {
  margin: 0;

  @include inner();
  padding-top: 70px;
  padding-bottom: 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: $background_color_content;
}

.page-main__legend {
  margin: 0;
  font-size: 15px;
  font-weight: $font_weight_alt;
  position: absolute;
  right: 50px;
  top: 25px;
  color: $color_greyish_brown;
  display: none;
}

.page-main__catalog {
  margin-bottom: 30px;
}

.page-main__text {
  margin: 0;
  margin-bottom: 25px;

  @include inner();
  font-size: 13px;
  line-height: 24px;
  font-weight: $font_weight_alt;
  color: $text_color_sub;
}

.page-main__order-form {
  margin-bottom: 55px;
}

.page-main__video {
  margin-bottom: 58px;
}

@media (min-width: $width_tablet) {
  .page-main {
    margin: 0;
    margin-top: -60px;
    width: auto;
  }

  .page-main__head {
    margin-bottom: 75px;
  }

  .page-main__head--form {
    margin-bottom: 70px;
  }

  .page-main__head::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 24px;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-size: contain;
  }

  .page-main__section:nth-child(odd) {
    &::after {
      height: 15px;
    }
  }

  .page-main__title {
    padding-top: 95px;
    padding-bottom: 85px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__catalog {
    margin-bottom: 53px;
  }

  .page-main__subtitle {
    padding-top: 155px;
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__legend {
    display: block;
    top: 18px;
  }

  .page-main__text {
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: $font_size_main;
    line-height: 30px;
  }

  .page-main__video {
    margin-bottom: 63px;
  }
}

@media (min-width: $width_desctop) {
  .page-main {
    width: 1150px;
    margin: -63px auto 0;
  }

  .page-main__wrapper {
    @include inner;
  }

  .page-main__head {
    margin-bottom: 125px;
  }

  .page-main__head::after {
    height: 34px;
  }

  .page-main__head--form {
    margin-bottom: 118px;
  }

  .page-main__section:nth-child(odd) {
    &::after {
      height: 23px;
    }
  }

  .page-main__title {
    padding-bottom: 105px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__text {
    padding-left: 225px;
    padding-right: 225px;
  }

  .page-main__catalog {
    margin-bottom: 6px;
  }

  .page-main__subtitle {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 357px;
  }

  .page-main__video {
    margin-bottom: 105px;
  }
}
