.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  border-bottom: $border_default;
}

@media (min-width: $width_tablet) {
  .page-header {
    width: 772px;
  }

  .page-header__logo {
    border-bottom: none;
    flex-grow: 1;
  }
}

@media (min-width: $width_desctop) {
  .page-header {
    width: 1150px;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 0;
  }
}
