.page-header {
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
  width: auto;
}

.page-header__logo {
  border-bottom: $border_default;

  @include hover-active-link;
}

@media (min-width: $width_tablet) {
  .page-header {
    margin: 0;
    width: auto;
  }

  .page-header__logo {
    border: none;
  }
}

@media (min-width: $width_desctop) {
  .page-header {
    max-width: 1150px;
    margin: 0 auto;
  }
}
