.sizes-list {
  @include list-reset();
  display: flex;
  justify-content: center;
  line-height: 17px;
  color: $text_color_sub;
  text-transform: uppercase;
}

.sizes-list__item {
  margin-right: 7px;
  padding: 15px 0;
  flex-grow: 1;
  border: 2px solid rgba(68, 68, 68, 0.1);
  text-align: center;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
}

.sizes-list__item--active {
  border-color: $color_seafoam_blue;
}
