.sizes-list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 17px;
  color: $text_color_sub;
  text-transform: uppercase;
}

.sizes-list__item {
  width: 32%;
  box-sizing: border-box;
}
