.table {
  display: flex;
}

.table__tbody {
  flex-grow: 1;
}

.table__tr {
  display: flex;
  flex-direction: column;
}

.table__cell {
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: $font_weight_alt;
  color: #444444;
  border-bottom: 1px solid #f1f1f1;
}

.table__cell--field {
  padding-right: 30px;
}

.table__cell--contact {
  padding: 20px 0;
  border: none;
  line-height: 30px;
}
